header {
    height: 130px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 250px 0 250px;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-content: center;
    z-index: 2;
    box-sizing: border-box;
}

.logo {
    display: grid;
    align-content: center;
}

.brackets {
    font-family: 'Noto Sans', sans-serif;
    color: #0276FF;
}

.header-link-wrap {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 82px;
}

.header-link, .logo {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 92.7%;
    color: #FFFFFF;
}


.header-link {
    position: relative;
}

.header-link:before {
    content: "";
    width: 0;
    border-bottom: 3px solid #0276FF;
    position: absolute;
    top: 25px;
    transition: 0.5s;
}

.header-link:hover:before {
    width: 100%;
}

.logo a {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

@media (max-width: 1920px) {
    .header-link-wrap {
        column-gap: 54px;
    }

    header {
        height: 88px;
        padding: 0 150px 0 150px;
        grid-template-columns: max-content max-content;
    }

    .header-link, .logo {
        font-size: 24px;
    }
}

@media (max-width: 1450px) {
    header {
        padding: 0 50px 0 50px;
    }

    .header-link, .logo {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 0 16px 0 16px;
    }

    .header-link {
        display: none;
    }

    .header-link-wrap {
        grid-template-columns: max-content;
    }
}
